body {
    font-family: monospace;
	font-weight: bold;
	font-size: 20px;
	color: white;
	
}

span {
    float: left;
    width: 150px;
    test-align: right;
	
}
span1 {
    float: center;
    width: 150px;
    test-align: right;
	
}
.hero	
{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("images/pic.png");
	
    background-position: center;
    position: absolute;
    background-size: cover;
	align-content: right;
	filter: white-space	(100%);

}
h1{
	
	font-style:italic;
	
	
}
